/*-- scss:defaults --*/

/*-- scss:rules --*/
// Import universal styles
@import "_universal";

// Add box to theorem environments
.theorem, .lemma, .proposition, .corollary, .definition, .example, .proof{
  border: 1px solid #ddd;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.05);
}

/* Environment variable colors adaptive to light/dark mode */
// light mode green
.env-green {
  color: #008B45 !important;
  /* Default green color */
  /* Light mode */
}
.env-green>code,
.env-green code {
  // light mode
  color: #008B45 !important;
}